/*Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: Nunito, sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}
/*Universal Styles end*/

/*Navbar start*/
.navbar {
    width: 100%;
    height: 14rem;
    background-color: black;
    position: relative;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
}

.navbar-link {
    color: #aaa;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-link:hover {
    color: #fff;
}

.navbar-link i{
    font-size: 7rem;
}

.navbar-link span {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-top: 0.5rem;
}
/*Navbar end*/




/*Section 1*/
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

.section-heading {
    font-size: 6rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.5rem 0.5rem 0.5rem #000;
    margin-bottom: 5rem;
  }
/* Section 1 end */

/* Section 2 Start */
.section-2 {
    background-color: #333;
    padding: 5rem 0;
}

.entry {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.entry-link {
    position: relative;
    margin: 4rem 1rem;
}

.entry-link::before {
    content:"";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: white;
    z-index: 10;
    transition: height 0.5s;
}

.entry-link::after {
    content:"";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: white;
    transition: width 0.5s;
}

.entry-link:hover::before {
    height: 80%;
}

.entry-link:hover::after {
    width: 90%;
}

.entry-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    transition: all 0.5s;
}

.entry-link:hover .entry-img {
    filter: blur(0.5rem);
    opacity: 0.5;
}

.entry-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
}

.entry-link:hover .entry-name {
    width: 100%;
}

.entry-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.entry-link:hover .entry-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}


/* Section 2 end*/



